@mixin theme-color($key, $color) {
  @each $theme-name, $theme-color in $theme-color-palette {
    .theme-#{$theme-name} & {
      #{$key}: map-get(map-get($theme-color-palette, $theme-name), $color);
    }
  }
}

// https://coolors.co/palette/f72585-b5179e-7209b7-560bad-480ca8-3a0ca3-3f37c9-4361ee-4895ef-4cc9f0

$theme-color-palette: (
  default: (
    color-background: #181818,
    color-background-solid: #212121,
    color-primary: #1e1146,
    color-secondary: #0db4ba,
    color-third: #f0a29e,
    color-accent: #e76c89,
    color-gradient-primary: linear-gradient(90deg, rgba(222, 201, 233, 1) 0%, rgba(98, 71, 170, 1) 100%)
  ),
  dark: (
    color-background: black
  )
);
